<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
  <h1>Hello world!</h1>
  <p class='knob1'></p>
  <p class='knob2'></p>
  <p class='button1'></p>
  <p class='button2'></p>
  <p class='button3'></p>
  <p class='bluetooth'></p>
  <form>
    <input>
  </form>
  <div></div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script>
    var socket = io();
    $('form').submit(function() {
      socket.emit('msg', $('input').val());
      $('input').val('');
      return false;
    });
    socket.on('msg', function(data) {
      $('div').prepend(data+'<br>');
    });
    socket.emit('send', 'hello, world');
      socket.on('push', function(data) {
        console.log(data);
    });
    
    //値の受け付け開始
    setInterval(function () {     
      socket.emit('acceptValue', []);
      console.log("acceptValue");
    }, 10);
    //送られてきた値を表示
    var receiveData;
    socket.on('sendValue', function(data) {
      console.log("sendValue");
      $(".knob1").text('data: ' + data[0]);
      receiveData = data[0];
      console.log(data);
    })
  </script>  
</body>
</html>